BRICKCANVAS_APP_IDENTIFIER=eu.mpwg.BrickCanvas
BRICKCANVAS_DEVELOPMENT_TEAM=

APP_STORE_CONNECT_API_KEY_ID=
APP_STORE_CONNECT_API_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_FILEPATH=
# Alternativ inline statt Datei:
# APP_STORE_CONNECT_API_KEY_CONTENT=

APP_STORE_CONNECT_APPLE_ID=
APP_STORE_CONNECT_TEAM_ID=

BRICKCANVAS_BETA_CHANGELOG=
BRICKCANVAS_BETA_DESCRIPTION=
BRICKCANVAS_BETA_FEEDBACK_EMAIL=
