BRICKCANVAS_APP_IDENTIFIER=eu.mpwg.BrickCanvas
BRICKCANVAS_MAC_APP_IDENTIFIER=eu.mpwg.BrickCanvas.mac
BRICKCANVAS_DEVELOPMENT_TEAM=

APP_STORE_CONNECT_API_KEY_ID=
APP_STORE_CONNECT_API_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_FILEPATH=
# Alternativ inline statt Datei:
# APP_STORE_CONNECT_API_KEY_CONTENT=

APP_STORE_CONNECT_APPLE_ID=
APP_STORE_CONNECT_TEAM_ID=

MATCH_GIT_URL=
MATCH_GIT_BRANCH=main
MATCH_PASSWORD=
MATCH_READONLY=0
MATCH_KEYCHAIN_NAME=
MATCH_KEYCHAIN_PASSWORD=

BRICKCANVAS_BETA_CHANGELOG=
BRICKCANVAS_BETA_DESCRIPTION=
BRICKCANVAS_BETA_FEEDBACK_EMAIL=
